ion-input {
    background-color: #eeeeef;
    margin-bottom: 10px;
}

.login-button {
    font-size: 18px;
    font-weight: normal;
    height: 50px;
    width: 100%;
    letter-spacing: 1px;
    --background: #80b92e;
  }