ion-list {
    width: 100%;
}

ion-item {
    --background: #eeeeef;;
}

.tab_wrap {
    border-bottom: 1px solid #1F92D5;
}

#coverage_header {
    font-size: 14px;
}

.first {
    background: #F0D41F;
}