<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ion-slides
    </ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row id="coverage_header">
      <ion-col size="12" class="cove_header_wrap">
        <ion-img></ion-img>
        <h3 class="coverage">BCBSM</h3>
      </ion-col>
    </ion-row>

    <ion-row class="tab_wrap">
      <ion-segment mode="md" [(ngModel)]="selectedTab" (ionChange)="segmentChange($event)" scrollable>
        <ion-segment-button mode="md" *ngFor="let tab of tabList" [id]="tab.id" value={{tab.index}}>
          <ion-label class="nue">{{tab.text}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content no-padding no-margin>

  <ion-slides pager="false" [options]="slideOpts" (ionSlideWillChange)="slideChange()"
    [ngStyle]="{'min-height.px': sliderHeight}">

    <ion-slide>
      <ion-list>
        <ion-item (click)="moveToSecondPage()">
          <ion-label class="click-me">Click Me! To go to Status bar scroll issue</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mega Man X</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>The Legend of Zelda</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pac-Man</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Super Mario World</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pokémon Yellow</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mega Man X</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>The Legend of Zelda</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pac-Man</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Super Mario World</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pokémon Yellow</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mega Man X</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>The Legend of Zelda</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pac-Man</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Super Mario World</ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      hi
    </ion-slide>

    <ion-slide>
      hey
    </ion-slide>

    <ion-slide>
      hola
    </ion-slide>

    <ion-slide>
      ha ha
    </ion-slide>

  </ion-slides>

</ion-content>